// Copyright (c) Microsoft. All rights reserved.
using YamlDotNet.Core;
using YamlDotNet.Core.Events;
using YamlDotNet.Serialization;

#pragma warning disable IDE0130
namespace {{ node.typeName.namespace }};
#pragma warning restore IDE0130

public class {{ node.typeName.name }}YamlConverter: YamlConverter<{{ node.typeName.name }}>
{
    /// <summary>
    /// Singleton instance of the {{ node.typeName.name }} converter.
    /// </summary>
    public static readonly {{ node.typeName.name }}YamlConverter Instance = new {{ node.typeName.name }}YamlConverter();

    public override {{ node.typeName.name }} Read(IParser parser, ObjectDeserializer rootDeserializer)
    {
        // Parse YAML to Dictionary first
        var dict = rootDeserializer(typeof(Dictionary<string, object?>)) as Dictionary<string, object?>
            ?? throw new YamlException("Failed to parse {{ node.typeName.name }} as dictionary");
        
        return {{ node.typeName.name }}.Load(dict);
    }

    public override void Write(IEmitter emitter, {{ node.typeName.name }} value, ObjectSerializer serializer)
    {
        // Delegate to Save method and serialize the dictionary
        var dict = value.Save();
        serializer(dict, typeof(Dictionary<string, object?>));
    }
}