name: Publish

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      version:
        description: "Package version (e.g., 1.0.0)"
        required: false
        type: string

jobs:
  # Test with real pypi workflow
  publish-python:
    uses: ./.github/workflows/publish-pypi.yml
    with:
      version: "1.0.0-test"
    secrets: inherit
