name: Test Reusable Callee

on:
  push:
    tags:
      - "test-v*"
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: false
        type: string
  workflow_call:
    inputs:
      version:
        description: "Version"
        type: string
        required: false

# Concurrency like in publish-pypi
concurrency:
  group: test-reusable
  cancel-in-progress: false

jobs:
  echo:
    runs-on: ubuntu-latest
    if: github.repository == 'microsoft/AgentSchema'
    steps:
      - name: Echo version
        run: echo "${{ inputs.version }}"
